*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  font-family: sans-serif;
}

header {
  width: 100%;
  background: #ff165d;
  overflow: hidden;
}

nav {
  max-width: 1200px;
  margin: auto;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #FFF;
  padding: 15px 20px;
  display: block;
  font-size: 1.1rem;
  transition: all .4s ease-in-out;
}

nav ul li a:hover {
  background: #FFF;
  color: #000;
}

@media only screen and (max-width: 768px) {
  header nav ul li {
    display: block;
    margin-right: 0;
  }

  nav ul li a {
    text-align: center;
  }
}